<html>
    <body ng-app="myApp" ng-controller="myCtrl" ng-model="myaccount" ng-model="order" >
    <table id='result' style="text-align: center;" class="h2">
        <tr>
            <td>TESTNAME </td>
            <td>STATUS</td>
            <td>Value</td>
        </tr>
    </table>

    <div> Account Id <br>
    {{ myaccount }} </div>
    <br>
    <button class="btn" ng-click="createAccount()">createAccount</button>

    <br>
    <div> Order Id <br>
    {{ order }} </div>
    <button class="btn" ng-click="openMarketOrder(myaccount.accountId)">openMarketOrder</button>

    <br>
    <div> All Trades <br>{{ trades }} </div>

    </body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
<script src="oanda.js"></script>
<script src="trade.js"></script>
</html>
